<ion-content [fullscreen]="true">

  <ion-app>
    
    <div class="ion-page" id="main-content">

      <ion-content class="ion-no-margin">
        <ion-img src="assets/images/request header.jpg"></ion-img>

        <ion-card class="navigation-top-button">
          <ion-card-header>
            <ion-card-title align="center">Request for Certificate of Officership for Supreme Student Council</ion-card-title>
            <ion-card-subtitle align="center">
              Your request has been sent. Click the item below to see your request status.
            </ion-card-subtitle>
            <div class="action-button" (click)="GoToHome()">
              <ion-button>
              <ion-icon slot="start" name="folder"></ion-icon> SEE REQUEST
            </ion-button>
            </div>
            </ion-card-header>
        </ion-card> 

        <ion-card class="navigation-card">
          <ion-card-header>
            <ion-card-title align="center">Request for Certificate of Officership for Integrated Information Technology Student Society</ion-card-title>
            <ion-card-subtitle align="center">
              Your request has been sent. Click the item below to see your request status.
            </ion-card-subtitle>
            <div class="action-button" (click)="GoToHome()">
              <ion-button>
              <ion-icon slot="start" name="folder"></ion-icon> SEE REQUEST
            </ion-button>
            </div>
            </ion-card-header>
        </ion-card> 

        
      </ion-content>

      

      
    </div>
  </ion-app>

</ion-content>
