<ion-content [fullscreen]="true">

  <ion-app>
    
    <div class="ion-page" id="main-content">

      <ion-content class="ion-no-margin">
        <ion-img src="assets/images/org header.jpg"></ion-img>

        <ion-button fill="clear" class="navigation-top-button" (click)="GoToHome()">
          <ion-card class="card-custom">
            <img src="assets/images/organizations/intess.jpg"/>
            <p>TAP TO KNOW MORE</p>
          </ion-card>
        </ion-button>

        <ion-button fill="clear" class="navigation-card" (click)="GoToHome()">
          <ion-card class="card-custom">
            <img src="assets/images/organizations/access.jpg"/>
            <p>TAP TO KNOW MORE</p>
          </ion-card>
        </ion-button>

        <ion-button fill="clear" class="navigation-card" (click)="GoToHome()">
          <ion-card class="card-custom">
            <img src="assets/images/organizations/jpcs.jpg"/>
            <p>TAP TO KNOW MORE</p>
          </ion-card>
        </ion-button>

        <ion-button fill="clear" class="navigation-card" (click)="GoToHome()">
          <ion-card class="card-custom">
            <img src="assets/images/organizations/mess.jpg"/>
            <p>TAP TO KNOW MORE</p>
          </ion-card>
        </ion-button>

        <ion-button fill="clear" class="navigation-card" (click)="GoToHome()">
          <ion-card class="card-custom">
            <img src="assets/images/organizations/spe.jpg"/>
            <p>TAP TO KNOW MORE</p>
          </ion-card>
        </ion-button>
        
        <ion-button fill="clear" class="navigation-card" (click)="GoToHome()">
          <ion-card class="card-custom">
            <img src="assets/images/organizations/uapsa.jpg"/>
            <p>TAP TO KNOW MORE</p>
          </ion-card>
        </ion-button>

      </ion-content>

      
    </div>
  </ion-app>

</ion-content>
