

<ion-content [fullscreen]="true" class="background">
  <ion-img class="logo-center" src="assets/images/logo-black.png"></ion-img>

<ion-card class="card-center">
  <ion-card-content>
    <div class="signin-btns">
        <ion-button  size="large" expand="block" fill="solid" shape="round" class="loginbtn" routerLink="/loginscreen">
         Login
        </ion-button>
        
        <ion-button  size="large" expand="block"  fill="solid" shape="round" color="light" routerLink="/signup" >Sign Up</ion-button>
      </div>
     
  </ion-card-content>

</ion-card>

</ion-content>
