.navigation-top-button{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -90px;
    border-radius: 30px;
  }
  
  .navigation-card{
    border-radius: 30px;
  }
  
  
  .navigation-button{
    text-align: center;
    width: 100%;
  }
  
  .card-custom{
    width: 100%;
    border-radius: 25px;
  }
  
  ion-col {
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
  text-wrap: wrap;
  }
  
  p{
  font-size: x-small;
  }
  
  .action-button{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;
  
  ion-button{
    font-size: 12px;
    font-weight: 300;
    --background: #3b0000;
    --border-radius: 7px;
    --box-shadow: none;
  }
  ion-icon{
    margin-right: 5px;
  }
  }

  .form {
    margin-bottom: 10px;
  }
  
  .form2 {
    margin-bottom: 10px;
  }
  
  .center {
    text-align: center;
  }
  
  .small-text {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .register {
    text-align: center;
    margin-top: 20px;
  }