<ion-content [fullscreen]="true">

  <ion-app>
    
    <div class="ion-page" id="main-content">

      <ion-content class="ion-no-margin">
        <ion-img src="assets/images/student councils header.jpg"></ion-img>

        <ion-button fill="clear" class="navigation-top-button" (click)="GoToSSC()">
          <ion-card class="card-custom">
            <img src="assets/images/student councils/ssc.jpg"/>
            <ion-card-header >
              <ion-card-title>Supreme Student Council Alangilan</ion-card-title>
              <ion-card-subtitle>The highest governing student organization in Batangas State University - The NEU Alangilan and its extension campuses, Lobo, Balayan, and Mabini.</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-button>

        <ion-button fill="clear" class="navigation-card" (click)="GoToHome()">
          <ion-card class="card-custom">
            <img src="assets/images/student councils/cics.jpg"/>
            <ion-card-header >
              <ion-card-title>CICS Alangilan Student Council</ion-card-title>
              <ion-card-subtitle>The highest governing student organization in the College of Informatics and Computing Science - Alangilan.</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-button>
        

        <ion-button fill="clear" class="navigation-card" (click)="GoToHome()">
          <ion-card class="card-custom">
            <img src="assets/images/student councils/cafad.jpg"/>
            <ion-card-header >
              <ion-card-title>CAFAD Alangilan Student Council</ion-card-title>
              <ion-card-subtitle>The highest governing student organization in the College of Architecture, Fine Arts, and Design - Alangilan.</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-button>


        <ion-button fill="clear" class="navigation-card" (click)="GoToHome()">
          <ion-card class="card-custom">
            <img src="assets/images/student councils/cit.png"/>
            <ion-card-header >
              <ion-card-title>CIT Alangilan Student Council</ion-card-title>
              <ion-card-subtitle>The highest governing student organization in the College of Industrial Technology - Alangilan.</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-button>


        <ion-button fill="clear" class="navigation-card" (click)="GoToHome()">
          <ion-card class="card-custom">
            <img src="assets/images/student councils/coe.jpg"/>
            <ion-card-header >
              <ion-card-title>CoE Alangilan Student Council</ion-card-title>
              <ion-card-subtitle>The highest governing student organization in the College of Engineering - Alangilan.</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-button>

      </ion-content>

      
    </div>
  </ion-app>

</ion-content>
