<ion-content [fullscreen]="true" class="background">

  <ion-app>
    
    <div class="ion-page" id="main-content">

      <ion-content class="ion-no-margin">
        <ion-img src="assets/images/ssc header.jpg"></ion-img>

        <div class="action-button-top">
          <ion-col align="center"> <ion-button>
            Student Services
         </ion-button>
        </ion-col>

        <ion-col align="center"> <ion-button>
          Activities/Projects
       </ion-button>
      </ion-col>
          
        </div>

        <ion-card class="navigation-top-button">
          <img src="assets/images/ssc/rgb.jpg"/>
          <ion-card-header>
            <ion-card-title>PROJECT RGB</ion-card-title>
            <ion-card-subtitle>SSC Alangilan</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            With the goal of creating a brighter and greener future, Project RGB has been a resounding success, a huge reminder of the tremendous power we possess when we unite for a common cause. 
            <br> <br>Donate Red, which set hearts pumping and brought out the inner hero in each donor last February 13, 2023, in the FDC Multipurpose Hall.
            <br> <br>Plant Green, where a symphony of earthy hues painted our landscape as enthusiastic volunteers planted the seeds of change at the BatStateU The NEU Lobo Farm last May 1, 2023.
            <br> <br>Save Blue, where passionate student leaders and volunteers rallied together in Anilao, Mabini, Batangas last September 17, 2022, to restore the serenity of our coastlines.
            <br> <br>Massive applause for all the Red Spartans who participated in this project. We have again shown that it’s not just about the colors, but the impact we create when we come together as one vibrant community.
            <br> <br>Onwards, Red Spartans!   
          </ion-card-content>
        
          <ion-button fill="clear">Read More</ion-button>
        </ion-card>

        <ion-card class="navigation-card">
          <img src="assets/images/ssc/takeoff.jpg"/>
          <ion-card-header>
            <ion-card-title>TAKE OFF 2023: Reach for the STARS</ion-card-title>
            <ion-card-subtitle>SSC Alangilan</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            As part of the preparations for the upcoming 55th Commencement Exercises, we are excited to announce the release of the Official Toga Caps and Gowns for all graduating students from Alangilan, Balayan, Mabini, and Lobo Campus!
          </ion-card-content>
        
          <ion-button fill="clear">Read More</ion-button>
        </ion-card>


      </ion-content>

      
    </div>
  </ion-app>

</ion-content>
