<ion-content [fullscreen]="true">

  <ion-app>
    
    <div class="ion-page" id="main-content">

      <ion-content class="ion-no-margin">
        <ion-img src="assets/images/oso header.jpg"></ion-img>

        <div class="action-button-top" (click)="GoToCertificate()">
          <ion-button>
          <ion-icon slot="start" name="document"></ion-icon> Request for Certficate
        </ion-button>
        </div>

        <div class="action-button" (click)="GoToRenewal()">
          <ion-button>
          <ion-icon slot="start" name="file-tray-full"></ion-icon> Student Organization Renewal
        </ion-button>
        </div>

        <div class="action-button" (click)="GoToSubmitReport()">
          <ion-button>
          <ion-icon slot="start" name="folder"></ion-icon> Submission of Accomplishment Report
        </ion-button>
        </div>

        <ion-card class="navigation-top-button">
          <img src="assets/images/office/recog.png"/>
          <ion-card-header>
            <ion-card-title>RECOGNITION DAY FOR HONOR STUDENTS</ion-card-title>
            <ion-card-subtitle>Student Organizations Office</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            In light of the Commencement Exercises for Second Semester of Academic Year 2022-2023,  the Batangas State University - The National Engineering University will be conducting a Baccalaureate Mass for the graduating students of Alangilan, Balayan, Mabini, and Lobo Campuses. This is scheduled on the 26th day of July, 8:00 AM at the Basilica of Immaculate Conception in Batangas City.
          </ion-card-content>
        
          <ion-button fill="clear">Read More</ion-button>
        </ion-card>

        <ion-card class="navigation-card">
          <img src="assets/images/office/tosa winners.png"/>
          <ion-card-header>
            <ion-card-title>TEN OUTSTANDING STUDENT AWARDS 2023</ion-card-title>
            <ion-card-subtitle>SSC Alangilan</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            As part of the preparations for the upcoming 55th Commencement Exercises, we are excited to announce the release of the Official Toga Caps and Gowns for all graduating students from Alangilan, Balayan, Mabini, and Lobo Campus!
          </ion-card-content>
        
          <ion-button fill="clear">Read More</ion-button>
        </ion-card>


      </ion-content>

      
    </div>
  </ion-app>

</ion-content>
