<ion-content [fullscreen]="true">

  <ion-app>
    
    <div class="ion-page" id="main-content">

      <ion-content class="ion-no-margin">
        <ion-img src="assets/images/oso header.jpg"></ion-img>

        <ion-card class="navigation-top-button">
          <ion-card-header>
            <ion-card-title align="center">SUBMISSION OF ACCOMPLISHMENT REPORT</ion-card-title>
            <ion-card-subtitle>

              University student organizations shall, for purposes of recognition and/or as a pre-condition for their operation, submit a written application a month before the beginning of the academic year. Recognition of student organizations granted for the first semester shall be valid for the whole academic year.
              <br><br>
              All the documents for application for recognition and/or renewal of every organization shall be submitted to the Office of Student Organizations in each constituent campus. The required documents are the following:
              <br><br>
              A. Application for organization recognition/renewal addressed to the Head, Office of Student Organizations (SO) <br>
              B. Commitment Letter of the Adviser <br>
              C. Certification of Academic Qualifications <br>
              D. Profile of Student Organization <br>
              E. List of Members <br>
              F.	 History of the Student Organization <br>
              G. Declaration of the Organization’s Revolving Fund <br>
              H. Ratified Constitution and By-Laws of the organization (may be waived if not seeking recognition for the first time or if there are no amendments or revisions)<br>
              I.	Student Organization Adviser and Officers Profile <br>
              J.	 Specimen signatures of officers and adviser<br>
              K. Plan/Program of projects/activities for implementation in the coming academic year<br>

              <div class="action-button" (click)="GoToHome()">
                <ion-button>
                <ion-icon slot="start" name="file-tray-full"></ion-icon> Upload Application
              </ion-button>
              </div>
            </ion-card-subtitle>

            </ion-card-header>
        </ion-card> 
      </ion-content>

      
    </div>
  </ion-app>

</ion-content>
