.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  max-width: 300px;
  width: 100%;
  padding: 10px;
  background-color: #fff; /* Background color for the container */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for the container */
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
}

.form {
  margin-bottom: 10px;
}

.form2 {
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

.small-text {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.register {
  text-align: center;
  margin-top: 20px;
}
