.navigation-top-button{
    margin-top: -90px;
    text-align: center;
    width: 100%;
  }

  .navigation-button{
    text-align: center;
    width: 100%;
  }

.card-custom{
    width: 100%;
    border-radius: 25px;
    text-wrap: wrap;
}
