<ion-content [fullscreen]="true">

  <ion-app>
    
    <div class="ion-page" id="main-content">

      <ion-content class="ion-no-margin">
        <ion-img src="assets/images/membership fee header.jpg"></ion-img>

        <ion-card class="navigation-top-button">
          <ion-card-header>
            <ion-card-title align="center">Supreme Student Council</ion-card-title>
            <ion-card-subtitle align="center">
              PHP 45.00 per semester
            </ion-card-subtitle>
            <div class="action-button" (click)="GoToHome()">
              <ion-button>
              <ion-icon slot="start" name="cash"></ion-icon> PAY NOW
            </ion-button>
            </div>
            </ion-card-header>
        </ion-card> 

        <ion-card class="navigation-card">
          <ion-card-header>
            <ion-card-title align="center">CICS Alangilan Student Council</ion-card-title>
            <ion-card-subtitle align="center">
              PHP 70.00 per semester
            </ion-card-subtitle>
            <div class="action-button" (click)="GoToHome()">
              <ion-button>
              <ion-icon slot="start" name="cash"></ion-icon> PAY NOW
            </ion-button>
            </div>
            </ion-card-header>
        </ion-card> 

        <ion-card class="navigation-card">
          <ion-card-header>
            <ion-card-title align="center">Integrated Information Technology Student Society</ion-card-title>
            <ion-card-subtitle align="center">
              PHP 80.00 per semester
            </ion-card-subtitle>
            <div class="action-button" (click)="GoToHome()">
              <ion-button>
              <ion-icon slot="start" name="cash"></ion-icon> PAY NOW
            </ion-button>
            </div>
            </ion-card-header>
        </ion-card> 

        <ion-card class="navigation-card">
          <ion-card-header>
            <ion-card-title align="center">Junior Philippine Computer Society - BatStateU Alangilan Chapter</ion-card-title>
            <ion-card-subtitle align="center">
              PHP 100.00 on 1st semester <br>
              PHP 50.00 on 2nd semester
            </ion-card-subtitle>
            <div class="action-button" (click)="GoToHome()">
              <ion-button>
              <ion-icon slot="start" name="cash"></ion-icon> PAY NOW
            </ion-button>
            </div>
            </ion-card-header>
        </ion-card> 
        
      </ion-content>

      

      
    </div>
  </ion-app>

</ion-content>
